:root {
	--primaryColor: #88a9ff;
	--secondaryColor: #f93995;
	--white: #eee;
}

/* Global Styles */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
	color: var(--white);
	outline: none;
}
.Title {
	font-style: normal;
	font-weight: 600;
	font-size: 55px;
	line-height: 67px;
	letter-spacing: 0.14em;
	color: #000000;
	text-align: center;
	text-transform: capitalize;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Global Ends */

/* Navbar Style Start */
.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: all 3.6s ease-in;
	background: var(--primaryColor);
}
.Links {
	display: flex;
	transition: all 1.9s linear;
	width: 50%;
	justify-content: space-around;
	align-items: center;
}
.toggler {
	display: none;
	color: var(--white);
	font-weight: normal;
	margin: 10px 0;
	cursor: pointer;
	font-size: 40px;
}
.nav-items {
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 0.03em;
	color: var(--white);
}

.cart-icon {
	font-size: 35px;
	color: var(--white);
}
.Logo {
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	line-height: 57px;
	letter-spacing: 0.15em;
	color: var(--white);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.logo-head {
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 60px;
	letter-spacing: 0.15em;
	color: var(--secondaryColor);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 760px) {
	.toggler {
		display: block;
	}
	.container,
	.Links {
		flex-direction: column;
		justify-content: space-between;
	}
	.close {
		opacity: 0;
		overflow-y: hidden;
		max-height: 0;
	}
	.nav-items {
		margin: 3px auto;
	}

	.Logo {
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
	}
}
/* Navbar Style Ends */
/* Hero Starts*/

.Hero {
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('./assets/Header.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(196, 196, 196, 0.3);
	border-radius: 10px;
	padding: 30px;
}

.banner-head {
	width: 100%;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 71px;
	text-align: center;
	letter-spacing: 0.12em;
	color: #ffffff;
}
.banner-subtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: capitalize;
	color: #ffffff;
	margin-bottom: 30px;
}
.btn {
	background: var(--primaryColor);
	border-radius: 0px 0px 32px 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: capitalize;
	color: #111010;
	padding: 10px;
	transition: 0.3s ease-in;
}
.btn:hover {
	background-color: rgba(196, 196, 196, 0.1);
	border: 1px solid var(--primaryColor);
	color: var(--primaryColor);
}

@media (max-width: 760px) {
	.banner-head {
		font-size: 50px;
		margin-bottom: 30px;
	}
	.banner-subtitle .btn {
		font-size: 18px;
	}
	.Banner {
		width: 100%;
		height: 100%;
	}
}

/*Hero Ends */

/* Services Start Here */
.Service {
	width: 100%;
	margin-top: 90px;
}
.service-cont {
	padding: 0 20px;
	height: 30vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 50px 0;
	text-align: center;
}
.service-head {
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 34px;
	letter-spacing: 0.02em;
	color: #2e64f0;
	margin-bottom: 10px;
}
.service-caption {
	font-style: normal;
	font-weight: 200;
	font-size: 15px;
	text-align: center;
	color: #000000;
}
.icons {
	font-size: 80px;
}

@media (max-width: 760px) {
	.service-cont {
		flex-direction: column;
		height: auto;
	}
	.Service {
		margin-bottom: 40px;
	}
}
/* Services Ends Here */
/* Featured Products Starts Here  */

.featured {
	margin-top: 150px;
}
.product-box {
	width: 100%;
	position: relative;
}
.products-center {
	width: 90vw;
	margin: 80px auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 40px;
}

.product-name {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	margin-top: 10px;
	letter-spacing: 0.11em;
	color: #000000;
}
.products-image {
	background-color: var(--primaryColor);
}

.product-image img {
	width: 100%;
	display: block;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}

.price-top {
	position: absolute;
	left: 0%;
	top: 0%;
	opacity: 1.3;
	padding: 10px 10px;
	border-radius: 0px 0px 32px 0px;
	background-color: #000000;
}

.price-top h6 {
	color: #fff;
	font-size: 18px;
}
.product-link {
	position: absolute;
	opacity: 2;
	left: 25%;
	top: 25%;
	z-index: 1;
	background-color: rgba(196, 196, 196, 0.1);
	border: 1px solid var(--primaryColor);
	color: var(--primaryColor);
}
.product-link:hover {
	background: var(--primaryColor);
	border-radius: 0px 0px 32px 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: capitalize;
	color: #111010;
	padding: 10px;
}

/* Featured Products Ends Here  */

/* Single Phone Styles Starts*/

.single-phone {
	width: 100%;
	height: 100vh;
}

.single-images {
	width: 90%;
	margin: 80px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 30px;
}
.single-images img {
	width: 100%;
}

.btn-home {
	background-color: var(--secondaryColor);
	border-radius: 0px 0px 32px 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: capitalize;
	color: var(--white);
	padding: 20px;
	transition: 0.3s ease-in;
	width: 20%;
	height: 80px;
}
.btn-home:hover {
	background-color: rgba(196, 196, 196, 0.1);
	border: 1px solid var(--secondaryColor);
	color: var(--secondaryColor);
}

.phone-info {
	display: flex;
	justify-content: center;
	align-items: center;
}
.left-info {
	width: 30vw;
	margin: auto;
}
.left-info h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	line-height: 40px;
	letter-spacing: 0.12em;
	text-transform: capitalize;
	color: #000000;
	margin-bottom: 20px;
}
.left-info p {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 26px;
	letter-spacing: 0.12em;
	text-transform: capitalize;
	color: #000000;
}

.right-info {
	width: 30vw;
	margin: auto;
}
.rightinfo-head {
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	line-height: 40px;
	letter-spacing: 0.12em;
	text-transform: capitalize;
	margin-bottom: 20px;
	color: #000000;
}
.right-info h6 {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 35px;
	letter-spacing: 0.12em;
	text-transform: capitalize;
	margin-bottom: 10px;
	color: #000000;
}
.right-info h6:nth-of-type(4) {
	margin-bottom: 30px;
}
.extras-section {
	width: 80%;
	margin: 50px auto;
}
.extras-section h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	line-height: 40px;
	letter-spacing: 0.12em;
	text-transform: capitalize;
	color: #000000;
	margin-bottom: 20px;
}
.phone-extras {
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
	grid-gap: 20px;
}
.extras {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 29px;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	color: #000000;
}

.cart-section {
	width: 80%;
	display: flex;
	margin: 80px auto;
	justify-content: flex-start;
	align-items: center;
}
.cart-btn {
	width: 200px;
	height: 55px;
	border-radius: 15px;
	outline: none;
	border: none;
	background-color: var(--secondaryColor);
	font-size: 23px;
	text-transform: capitalize;
	letter-spacing: 3px;
	cursor: pointer;
	transition: 0.3s all ease-in;
	color: var(--white);
	text-align: center;
	padding: 10px;
	text-align: center;
}
.cart-btn-buy {
	width: 250px;
	height: 58px;
	border-radius: 15px;
	outline: none;
	border: none;
	background: var(--primaryColor);
	font-size: 25px;
	text-transform: capitalize;
	letter-spacing: 3px;
	cursor: pointer;
	transition: 0.3s all ease-in;
	color: var(--white);
	text-align: center;
	padding: 10px;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
}
.cart-btn-buy:hover {
	border: 1px solid #2e64f0;
	color: #2e64f0;

	background-color: #eeee;
}

.btn-cart {
	transition: 0.4s all ease-in;
}

.cart-btn:hover {
	background-color: rgba(196, 196, 196, 0.1);
	border: 1px solid var(--secondaryColor);
	color: var(--secondaryColor);
}
.cart-btn:hover .btn-cart {
	color: var(--secondaryColor);
}

@media (max-width: 760px) {
	.cart-section {
	}
	.phone-info {
		flex-direction: column-reverse;
	}
	.phone-extras {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
	.right-info h6 {
		margin-bottom: 2px;
	}
	.left-info,
	.right-info {
		width: 80%;
		margin: 20px 0;
	}
	.cart-btn {
		width: 100%;
	}
	.cart-btn-buy {
		width: 100%;
	}

	.btn-home {
		height: auto;
		width: 50%;
	}
}
/*Single Phone Styles Ends */

/* Sorting Part Starts Here */

.sort {
	width: 100%;
	margin: 60px auto;
	text-align: center;
}

.form-group {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.sort label {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
}
.sort-icon {
	margin-left: 10px;
	margin-top: 10px;
	color: coral;
	cursor: pointer;
}
.form-control {
	width: 200px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
	border-radius: 20px;
	outline: none;
	border: 1px solid var(--primaryColor);
}
.option {
	text-align: center;
	font-size: 20px;
	margin: auto;
}

input[type="checkbox"] {
	cursor: pointer;
}

@media (max-width: 760px) {
	.sort-icon {
		display: inline-block;
		margin-top: 30px;
	}
	.sort-icon:hover {
		cursor: pointer;
		color: #2e64f0;
	}
	.form-group {
		display: flex;
		flex-direction: column;
	}
	.sort {
		margin-bottom: 150px;
		height: 100%;
	}
	label {
		margin: 20px auto;
	}
}

/* Sorting Part Ends Here */

/* Loading Starts Here */
.loading {
	width: 100%;
}
/* Loading Ends Here */

/* Cart styling starts here */

.cart-items-span {
	color: var(--secondaryColor);
	font-size: 26px;
	font-weight: 900;
	margin-left: 10px;
	padding: 1px 6px;
	background-color: #eeee;
	border-radius: 15px;
}

.my-cart {
	width: 90%;
	height: 100vh;
	margin: auto;
}
.cart-btn-icon {
	font-size: 30px;
}
.cart-btn-basket {
	font-size: 25px;
	margin-left: 10px;
}

.cart-header {
	margin: 50px auto;
}
.btn-qt {
	width: 40px;
	cursor: pointer;
}
.cart-column-head-quantity {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.btn-remove,
.btn-add {
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000000;
	background: #ffffff;
	border: 2px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-qtn {
	font-size: 30px;
	text-transform: uppercase;
	color: #000000;
	background: #ffffff;
	border: 2px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: text;
}
.cart-header .cart-head {
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	line-height: 86px;
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
}
.cart-header span {
	color: var(--secondaryColor);
}

.cart-body {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(6, minmax(150px, 1fr));
	grid-gap: 60px;
	margin-bottom: 60px;
	align-items: center;
	justify-items: center;
}
.cart-column-head .column-name {
	font-style: normal;
	font-weight: 500;
	font-size: 23px;
	line-height: 28px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25);
	color: #000000;
}
.product-image {
	width: 100%;
}
.product-details {
	font-style: normal;
	font-weight: 500;
	font-size: 19px;
	line-height: 23px;
	text-transform: uppercase;

	color: #000000;
}
.product-details-total {
	font-weight: 600;
}

.total {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.clear-btn button {
	width: 273px;
	height: 69px;
	position: relative;
	outline: none;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: #e61818;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.23);
	background: rgba(196, 196, 196, 0.15);
	border: 1px solid #e61818;
	border-radius: 0px 0px 49px 0px;
	cursor: pointer;
	transition: all 0.5s ease-in;
	margin-bottom: 60px;
}

.clear-btn {
	width: 40%;
}

.clear-btn button:hover {
	background-color: var(--secondaryColor);
	color: #fff;
	border: 1px solid var(--white);
}

.sub-total {
	width: 40%;
	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 1fr));
	grid-row-gap: 30px;
}
.total-tag {
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	text-transform: uppercase;
	color: #000000;
}

.total-price {
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: #000000;
}

.empty-cart {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.cart-item-rem-icon {
	font-size: 35px;
	text-align: center;
	color: #e61818;
	cursor: pointer;
	text-align: center;
}

.empty-cart-icon {
	font-size: 400px;
	color: #ccc;
}
.empty-cart h1 {
	color: #ccc;
	font-weight: 900;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.container-cart {
	display: none;
}

@media (max-width: 760px) {
	.container-cart {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.cart-summary {
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 30px auto;
	}
	.product-details {
		font-size: 23px;
	}

	.cart-header .cart-head {
		font-size: 45px;
	}
	.my-cart {
		width: 100%;
		height: auto;
	}
	.total {
		align-items: flex-start;
	}
	.cart-btn {
		height: 55px;
	}
	.sub-total {
		margin: 0px 30px;
		margin-bottom: 60px;
	}
	.clear-btn button {
		margin: 50px 30px;
		font-size: 23px;
		width: 225px;
		height: 50px;
	}
	.cart-body {
		display: none;
	}

	.empty-cart-icon {
		font-size: 300px;
	}
	.empty-cart h1 {
		text-align: center;
	}
}

/* Cart styling ends here */

/* Search styling starts here */

.search-section {
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: var(--primaryColor);
	display: flex;
	justify-content: center;
}
.search {
	border-radius: 3px solid #666666;
	height: 100%;
	width: 90%;
	padding: 1px 20px;
	border-radius: 12px;
	background-color: #ffff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.input {
	flex-grow: 1;
}
.search-input {
	height: auto;
	outline: none;
	border: none;
	padding: 20px;
	font-size: 20px;
	width: 100%;
}
.search-logo {
	font-size: 30px;
	color: #666666;
}
::placeholder {
	font-size: 25px;
	letter-spacing: 2px;
	text-transform: capitalize;
}

.search-not-found {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	margin: 40px auto;
}
.search-not-found-icon {
	font-size: 400px;
	color: #ccc;
}
.search-not-found h1 {
	color: #ccc;
	font-size: 60px;
	letter-spacing: 6px;
	font-weight: 500;
}

@media (max-width: 760px) {
	::placeholder {
		font-size: 20px;
	}
	.search-not-found {
		width: 80%;
		height: auto;
	}
	.search-not-found-icon {
		font-size: 300px;
	}
	.search-not-found h1 {
		font-size: 30px;
		margin-top: 30px;
	}
}

/* Search styling ends here */
